body,
body * { 
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

body {
    width: 100%;
    background-image: url("/img/ledoksnis.png");
    background-repeat:no-repeat;
    background-size:cover;
    display: inline-block;
}

.container {
    display: inline-block;
    width: 1000px;
    margin-left: calc( (100% - 1000px) / 2 );
    margin-top: 50px;
    height: 700px;
    background-image: url("/img/ledoksnis.png");
    background-repeat:no-repeat;
    background-size:100% 100%;
    border-radius: 20px;
    border: 1px rgb(123, 155, 250) solid;
    
}

header {
    display: inline-block;
    width: 100%;
    float: left;
    height: 10%;
  
}

.navKaire {
    float: left;
    display: inline-block;
    width: 20%;
    
}

nav {
    margin-top: 20px;
}

.navDesine {
    float: right;
    display: inline-block;
    
}

.btnDesine {
    float: left;
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}


img {
    display: inline-block;
    float: left;
}

.btnKaire {
    display: inline-block;
    float: left;
    font-size: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

.imgKaire {
    height: 20px;
    margin-left: 20%;
}

.kaire {
    display: inline-block;
    float: left;
    width: 40%;
    height: 300px;
    margin-left: 5%;
    margin-top: 20%;
   color: white;
   

}

h1 {
    text-align: left;
    font-size: 40px; 
}

p {
    margin-top: 20px;
}

.playKaire {
    margin-top: 20px;
}


